parameters:
    level: 5
    paths:
        - app
    excludePaths:
        analyse:
            - vendor
            - storage
            - bootstrap/cache

    ignoreErrors:
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Model::#'
        - '#Property ([a-zA-Z0-9_]+) does not exist on ([a-zA-Z0-9_\\\\]+)\\.#'

includes:
    - ./vendor/nunomaduro/larastan/extension.neon