parameters:
    level: 5
    paths:
        - app
        - tests

    excludePaths:
        analyse:
            - vendor
            - storage
            - bootstrap/cache

    scanDirectories:
        - app/Modules

    bootstrapFiles:
        - vendor/autoload.php

    tmpDir: var/phpstan
    resultCachePath: var/phpstan/resultCache.php

    parallel:
        jobSize: 20
        maximumNumberOfProcesses: 4

    # Ignore test-specific issues
    #ignoreErrors:
        #- '#Call to an undefined method Illuminate\\Database\\Eloquent\\Model::#'
        #- '#Property ([a-zA-Z0-9_]+) does not exist on ([a-zA-Z0-9_\\\\]+)\\.#'

includes:
    - ./vendor/nunomaduro/larastan/extension.neon